/* css reset start*/
*{
    margin:0;
    padding:0;
}
body{
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
    -webkit-font-smoothing: antialiased;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* css reset end*/

/* global css start*/
.wrapper{
    width:1230px;
    margin: 0 auto;
}
/* global css end*/

/*nav start */
.nav {
    width: auto;
    height: 32px;
    background: #f2f2f2;
}
.nav-login{
    height: 32px;
    line-height: 32px;
}

.nav-login span,.nav-login a{
    float: left;
    padding:0 10px;
    color: #999;
}
.nav-login a:hover{
    color: #ff0036;
}

.nav-menu{
    float: right;
}
.nav-menu>li{
    float: left;
}

.nav-menu .nav-link{
    padding:0 14px 10px 0;
    color: #999999;
    display: block;
}
/*nav end */