<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div id="app">
      <ul>
          <!--<li v-for="(items,key,index) in obj">
              {{index}}-{{key}},{{items}}
          </li>-->

          <li v-for="(items,index) in objArr">
              <!--{{items.name}},{{items.age}},{{items.school}}-->
              <span v-for="item in items">
                  {{item}}
              </span>
          </li>
      </ul>

        <div>{{sortObj}}</div>
    </div>

    <script src="vue.js"></script>
    <script>
        let vueText=new Vue({
            el:"#app",
            data:{
                arr:[1,2,3,4,5,6,7],
                num:7,
                obj:{
                    name:"xiaoming",
                    age:"12",
                    school:"linda"
                },
                objArr:[
                    {
                        name:"xiaoming",
                        age:"20",
                        school:"linda"
                    },
                    {
                        name:"xiaoming",
                        age:"15",
                        school:"linda"
                    },
                    {
                        name:"xiaoming",
                        age:"16",
                        school:"linda"
                    },
                    {
                        name:"xiaoming",
                        age:"12",
                        school:"linda"
                    }
                ]
            },

            computed: {
               sortObj(){
                   this.objArr.sort(function (a,b) {
                       return a.age-b.age      //按年龄排序（升序）降序为：b.age-a.age
                   });
               }
            }
        })




        /*var obj={
            objArr:[
                {
                    name:"xiaoming",
                    age:"20",
                    school:"linda"
                },
                {
                    name:"xiaoming",
                    age:"15",
                    school:"linda"
                },
                {
                    name:"xiaoming",
                    age:"16",
                    school:"linda"
                },
                {
                    name:"xiaoming",
                    age:"12",
                    school:"linda"
                }
            ]
        };
        obj.objArr.sort(function (a,b) {
            return a.age-b.age      //按年龄排序（升序）降序为：b.age-a.age
        });
        console.log(obj);*/
    </script>
</body>
</html>